@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  background: #242424;
  color: #333;
  font-family: "Nunito";
}

a {
  color: #333;
  text-decoration: none;
}
.content {
  max-width: 960px;
  margin: 0 auto;
}
nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}
nav a {
  margin-left: 12px;
}
nav .logo {
  margin-right: auto;
}

button {
  display: flex;
  justify-content: center;
  border: 0;
  color: #000000;
  cursor: pointer;
  font-size: 0.8rem;
  line-height: 1;
  background-color: #78f89f;
}

button:hover {
  background-color: #0e6b2a;
}

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}

.container {
  width: 100%;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  display: centerblock;
  transform: translate(-0%, -0%);
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.canvas {
  border: 3px solid black;
  width: 520px;
  height: 380px;
  image-rendering: pixelated;
}

.textGame {
  resize: none;
}


main {
  width: 100vw;
  height: 100vh;
}

@keyframes parallax {
  0% {
    background-position: 100px 100px;
  }

  50% {
    background-position: -3000px -3000px;
  }

  100% {
    background-position: 100px 100px;
  }
}