:root {
  --marin_color: rgb(180 227 87);
  --jarvis_color: rgb(241 186 55);
  --tommy_color: rgb(164 35 54);
  --temaki_color: rgb(166 159 150);
  --geraldo_color: rgb(43 173 150);
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  background-color: whitesmoke;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 516px;
  max-width: 516px;
  min-height: 200px;
  margin-right: auto;
  margin-left: auto;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.buttonContainer {}

.buttonItem {
  flex: 1;
}

.card img {
  border: solid;
  background: var(--jarvis_color);
}